@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@theme {
    --animate-scroll-left: scroll-left 20s linear infinite;
    --animate-scroll-right: scroll-right 15s linear infinite;
}

@keyframes scroll-left {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}

@keyframes scroll-right {
    from {transform: translateX(-50%);}
    to {transform: translateX(0);}
}
